$font-primary : 'Encode Sans', sans-serif;
$font-secondary : 'Roboto', sans-serif;

$color-primary : #f77619;
$color-secondary : #37bbed;
$color-alt : #F88D2A;
$color-light : #f7f8f9;
$color-grey : #353638;
$color-light-grey : #969798;
